 body {
        background-color : yellow;
 }

 select{
     width : 250px;
     height: 50px;
 }


 li{
     display : inline;
 }


 .bottom {
     display : flex;
     align-content : flex-end;
 }

 .navigation {
     display : flex;
     justify-content: center;
 }